<h1> Welcome to TRANSport. The bigot-free driving app!</h1>

<%= link_to 'List of Drivers', drivers_path %>
<%= link_to "List of Passengers", passengers_path%>
<%= link_to "List of Trips", trips_path%>
