<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

<main>
<h2>About Us</h2>
<p>We have <%= @drivers_num %> drivers and <%= @passengers_num %> passengers using our app and a total of <%= @trips_num %> trips.</p>
</main>

</body>

</html>



