<!DOCTYPE html>
<html>
  <head>

  </head>

<h1>TRANSport</h1>

<%= link_to 'List of Drivers', drivers_path %>
<%= link_to "List of Passengers", passengers_path%>
<%= link_to "List of Trips", trips_path%>
