<h2>Passenger's List</h2>

<p>There are currently <%= @passengers.length %> registered passengers.</p>

<ul>
  <% @passengers.each do |passenger| %>
    <li>
      <p>Name: <%=link_to passenger.name, passenger_path(passenger.id)%></p>
      <p>Phone Number: <%=passenger.phone_num%></p>
    </li>
  <% end %>
</ul>

