<h2>Driver's List</h2>
<h4>There are currently <%= @drivers.length %> registered drivers.</h4>

<main>
  

  <ul>
    <% @drivers.each do |driver| %>
      <li>
        <p>ID: <strong><%=link_to driver.id, driver_path(driver.id)%></strong> Name: <span class="fas fa-paw"></span>  <strong><%= link_to driver.name, driver_path(driver) %></strong> VIN: <%= driver.vin%></p>
      </li>
    <% end %>
  </ul>
</main>
