<h2>Driver's List</h2>

<p>There are currently <%= @drivers.length %> registered drivers.</p>

<ul>
  <% @drivers.each do |driver| %>
    <li>
      <strong>
        <span class="fas fa-paw"></span>  <%= link_to driver.name, driver_path(driver) %>
      </strong>
      <strong>
        VIN:
      </strong>
      <%= driver.vin%>
    </li>
  <% end %>
</ul>