
body {
  background-color: rgb(213, 51, 62);
  color: white; 
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
	font-family: 'Bungee', cursive;
}

/* .blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
} */
