body {
  background-color: #F0E9D5; 
  color:#28281A
  font-family: 'Do Hyeon', sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-columns: 2fr 3fr;
    grid-template-areas:
    "aside  main"
    "aside  main";
}

