
body {
  background-color: #28281A;
  color: #F0E9D5; 
  font-family: 'Do Hyeon', sans-serif;
}

/* other colors on palette:
#BDAE8F light green pale
#947E58 light green brown */

h1, h2 {
	font-family: 'Dokdo', cursive;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 3em;
}

.header {
  line-height: 1.25em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.subtitle {
  animation-delay: 5s;}
  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F0E9D5}
}

